<h1 class="text-center">Exploring Your React App</h1>


<br>

<ol>
    <li><span ><h5>Project Structure:</h5></span> React apps created with create-react-app have a predefined project structure. Key files and directories include:
    
        <ul>
            <li><span class="text-danger">' src/ '</span>: This directory contains the source code of your app, including components, styles, and JavaScript files.
            </li>
            <li><span class="text-danger">' public/ ' </span>: This directory contains the HTML file and other static assets.</li>
        </ul>
    
    </li>
<br>
    <li><span ><h5>The ' src ' Directory :</h5></span>Open your code editor and explore the src directory. The main entry point for your app is usually ' src/index.js ' , which renders your app to the DOM.</li>

<br>
    <li><span ><h5>React Components :</h5></span>The default React app comes with a sample component in ' src/App.js '. This component is the main content of your app's homepage. You can modify this component, create additional components, or organize your code in separate files within the 'src' directory.</li>

<br>
    <li><span ><h5>Styling :</h5></span>You can style your components using CSS or CSS-in-JS libraries like Styled Components. You can either include your CSS files in your components or use CSS modules for component-specific styles.</li>


<br>
    <li><span ><h5>Adding Dependencies :</h5></span>You can add external libraries and dependencies to your project using npm. For example, to install a package like Axios for making HTTP requests, run:</li>
    <div class="bg-dark rounded text-white border   ">
        <div class="bg-secondary rounded d-flex justify-content-end text-white ">
            <button type="button" class="btn text-white  d-flex justify-content-center align-items-center ">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-clipboard-check-fill" viewBox="0 0 16 16">
                    <path
                        d="M6.5 0A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3Zm3 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3Z" />
                    <path
                        d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1A2.5 2.5 0 0 1 9.5 5h-3A2.5 2.5 0 0 1 4 2.5v-1Zm6.854 7.354-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L7.5 10.793l2.646-2.647a.5.5 0 0 1 .708.708Z" />
                </svg>
                &nbsp;Copy</button>
        </div>
        <div class="p-3">
            npm install axios


        </div>
    </div>
</ol>